.container{
    display: flex;
    flex-wrap: wrap;
     border: 10px solid #daa520;
     
    
}

.items{
    text-align: center  ;
    border: 0;
    height: 25%;
    width: 25%;
    background-color: red;
    color: white;
    font-size: 150px;
}